/** VARIABLES **/

$bg-color: #D4D5D4;
$light-accent: #E6E7E8;
$off-black: #414042;
$green-accent: #2BB673;
$green-accent-dark: #218C59;
$blue-accent: #27AAE1;
$gold-accent: #FBB040;

/** HEADERS AND PARAGRAPHS **/

h1,h2,h3,h4,h5,h6,p,span {
    font-family: "Delicious";
    color: $off-black;
}

a { color: $green-accent; }
a:visited { color: $green-accent-dark; }
a:hover { color: $green-accent-dark; }

/** BODY **/

body {
    background-color: $bg-color;
}

/** POSITIONS **/

.header {
  position: fixed;
  top: 0px;
  height: 60px;
  z-index: 12;
  margin-bottom: 100px;
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 125px;
  overflow-y: hidden;
  z-index: 10;
  margin-top: 100px;
}

.footer-fade-bottom {
  background-color: $bg-color;
  opacity: 0.75;
  height: 20px;
  position: relative;
  z-index: 10;
}

.footer-fade-mid {
  background-color: $bg-color;
  opacity: 0.5;
  height: 15px;
  position: relative;
  z-index: 10;
}

.footer-fade-top {
  background-color: $bg-color;
  opacity: 0.25;
  height: 10px;
  position: relative;
  z-index: 10;
}

.footer-icons {
  background-color: $bg-color;
  height: 80px;
  z-index: 10;
}

/** FIGURES **/

.platform {
  background-color: $light-accent;
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  height: 60px;
  transition: background-color 0.5s ease;
}
#game-dev:hover+div { background-color: $green-accent; }
#mobile-dev:hover+div { background-color: $blue-accent; }
#blog:hover+div { background-color: $gold-accent; }

.inactive { opacity: 0.75; }
.inactive:hover { cursor: not-allowed !important; }

/** SPECIAL **/

#wip-alert {
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 10;
}

#wip-alert-w-header {
  position: fixed;
  top: 75px;
  height: 100px;
  z-index: 10;
}