.platform-icon {
  position: relative;
  top: 50px;
  z-index: 1;
}
.platform-icon:hover {
  cursor: pointer;
}
.header-icon {
  display: inline-block;
  margin-right: 2%;
  opacity: 0.75;
}
.header-icon.active { opacity: 1.0; }
.header-icon.active:hover { cursor: default; }
.header-icon:hover { 
  cursor: pointer;
  opacity: 1.0;
}
.footer-icon { margin-right: 2%; }